.tasksList {
    list-style: none;
    padding: 40px 20px 20px 20px;
    margin: 0;
    background-color: white;
  }
  
  .tasksList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    align-items: center;
  }

  .js-tasksList__item--hidden {
    display: none;
  }
  
  .tasksList__button {
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 2px;
  }
  
  .tasksList__button--toggleDone {
    background-color: green;
  }
  
  .tasksList__button--remove {
    background-color: red;
  }
  
  .tasksList__button--toggleDone:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 2px;
    background-color: hsl(120, 100%, 30%);
    cursor: pointer;
  }
  
  .tasksList__button--remove:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: hsl(0, 100%, 60%);
    cursor: pointer;
  }
  
  .js-item--done {
    text-decoration: line-through;
  }
  